.icon {
  width: 64px;
  vertical-align: top;
  border: 1px solid salmon;
}

canvas {
  border: 1px solid black;
}

.selectedTool {
  outline: 1px solid black;
  outline-offset: 1px;
  font-weight: bold;
}
